

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.div-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin: 20;
    
}
.section-1-header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    
    
   
}
.header{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
     margin-right: 200px;
    margin-left: 200px;
    column-gap: 500px;
    
 
}

.header-logo{
    align-items: flex-start;
    color: #F9FAF8;
    font-size: 24px;
    
}
.header-links{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    

}


.head-link-text{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;

}
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.sign-up-section{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-basis: 500px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 0;
    margin-bottom: 0;
}

.content{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.sign-up-section-button{
    background-color: #3882f6;
    padding: 10px 40px;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
}

.ai-image{
    width: 50%;
    flex-grow: 1; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
 /*-------------------SECTION 2----------------------------*/

 .section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9FAF8;
    margin-right: auto;
    margin-left: auto;
   
    
    
 }

 .random-info-text{
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
 }

 .img-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 9%;

   

 }
 .img-card {
    width: 20%;
    height: 20%;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.img-card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }

  /*---------------section 03--------------------------------*/
 
  .section-3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 300px;

    
  } .quote-section{
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: 800px;
    justify-content: center;  
    align-items: center; 
    
 }
.quotation-by-elon-musk{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
 .author {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-weight: bolder;
    color: #101215;

 }
 /*-----------------SECTION 04-----------------*/
 .section-4{
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 1000px;
    height: 150px;
    border-radius: 15px;
 }
 .section-4-call-to-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    gap: 50px;

 }
 .call-to-action-header{
          
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 20px;
    margin: 0px;
 }
.call-to-action-para{
    font-size: 16px;
    color: #F9FAF8;
    margin: 0px;
}
.call-to-action-button{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 50px;
    border: 2px solid #F9FAF8 ;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    margin-bottom: auto;
}
.footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    flex-basis: 100px;
    font-size: 16px;
    color: #E5E7EB;
    
}