

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.div-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin: 20;
    
}
.section-1-header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    
    
   
}
.header{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 900px;
    
 
}

.header-logo{
    align-items: flex-start;
    color: #F9FAF8;
    font-size: 24px;
    
}
.header-links{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    

}


.head-link-text{
    font-size: 18px;
    color: #E5E7EB;

}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;

}
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.sign-up-section{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-basis: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.content{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.sign-up-section-button{
    background-color: #3882f6;
    padding: 10px 40px;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
}

.ai-image{
    width: 50%;
    flex-grow: 1; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
 /*-------------------SECTION 2----------------------------*/

 .section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9FAF8;
    margin-right: auto;
    margin-left: auto;
    
    
 }

 .random-info-text{
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
 }

 .img-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 9%;

   

 }
 .img-card {
    width: 20%;
    height: 20%;
    
}

.img-card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
